.modal_css_header-search {
    padding: 10px 20px 10px 20px;
    border: 1px solid transparent;
    background: #484848;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    height: 53px;
    margin-left: 8.24px;
}
